/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.calendar {
  border-collapse: collapse;
  width: 90%;
  height: auto;
  margin: 5%;
}
.calendar th {
  color: #000;
  text-align: center;
  padding: 1%;
  width: 14.29%
}
.calendar td {
  padding: 6px;
}

td, th {
  font-family: "Lucida Grande", arial, helvetica, sans-serif;
  font-size: 1vw;
  border: 1px solid #DDDDDD;
}

td {
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
}
.notmonth {
  background-color: #DDDDDD;
}
.today {
  background-color: #FFFFCE;
}
#month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}
